doctype html
head
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  title Charts | Klorofil - Free Bootstrap Dashboard Template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet', href='assets/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/vendor/linearicons/style.css')
  link(rel='stylesheet', href='assets/vendor/chartist/css/chartist-custom.css')
  // MAIN CSS
  link(rel='stylesheet', href='assets/css/main.css')
  // FOR DEMO PURPOSES ONLY. You should remove this in your project
  link(rel='stylesheet', href='assets/css/demo.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
  link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicon.png')
  // d3.js
  script(src='http://d3js.org/d3.v3.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js', crossorigin='anonymous')
// WRAPPER
#wrapper
  // NAVBAR
  nav.navbar.navbar-default.navbar-fixed-top
    .brand
      a(href='/')
        img.img-responsive.logo(src='assets/img/logo-dark.png', alt='Klorofil Logo')
    include gnb
  // END NAVBAR
  // LEFT SIDEBAR
  include lnb
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        h3.page-title &#xD68C;&#xC758; &#xBD84;&#xC11D;
      .bs-component
        // 상단 회의정보 tab
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#meeting_log') &#xD68C;&#xC758;&#xB85D;
          li.nav-item
            a.nav-link(data-toggle='tab', href='#sentimental_total') &#xD68C;&#xC758; &#xC804;&#xCCB4; &#xD3C9;&#xAC00;
          li.nav-item
            a.nav-link(data-toggle='tab', href='#sentimental_personal') &#xD68C;&#xC758; &#xAC1C;&#xC778; &#xD3C9;&#xAC00;



      div
        // 회의록,감정분석
        #myTabContent.tab-content
          // 회의록
          #meeting_log.tab-pane.fade.show.active
            // PANEL 회의 제목, 참여자
            .col-md-8
              .panel
                .panel-heading
                  h3#log_title.panel-title #{text_title}
                .panel-body
                  table#conference_member.table
                    tbody
                      tr
                        th #{text_spk1}
                        th #{text_spk2}
                        th #{text_spk3}
                        th #{text_spk4}
                  div
                    p &#xC624;&#xB514;&#xC624;
                    audio#meetinglog_tab_audio(controls='', updatetracktime='updateTrackTime(this,"meetinglog_tab");', onended='endTrackTime("meetinglog_tab_audio","meetinglog_tab");')
                      source(src='s1_sadness_M_s4.wav')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; &#xD45C;&#xC2DC;&#xC548;&#xB428;
            // END PANEL HEADLINE
            // START 해시태그
            .col-md-3
              .panel
                .panel-heading
                  h3.panel-title &#xD68C;&#xC758; &#xD0DC;&#xADF8;
                .panel-body
                  table#conference_tag.table
                    tbody
                      tr
                        td #&#xD574;&#xC2DC;1
                      tr
                        td #&#xD574;&#xC2DC;2
                      tr
                        td #&#xD574;&#xC2DC;3
            // END 해시태그
            // PANEL 회의 내용
            .row
              .col-md-11
                #panel-scrolling-demo.panel
                  .panel-heading
                    h3.panel-title &#xD68C;&#xC758; &#xB0B4;&#xC6A9;
                  .panel-body
                    a#meetinglog_tab_desc_0.sample_link(href='javascript:', onclick="mediaSeek('news_tab_audio', 0)")
                    p #{text_spk1} : #{text_result}
                    p #{text_spk2} : #{text_result2}
                    p #{text_spk3} : #{text_result3}
          // END 회의록
          // 회의 전체 평가
          #sentimental_total.tab-pane.fade
            // 전체 감정 비율
            .row
              .col-md-6
                .panel
                  .card-header
                    i.fas.fa-chart-pie.mr-1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xD68C;&#xC758; &#xAC10;&#xC815; &#xBE44;&#xC728;
                  .card-body
                    canvas#myPieChart(width='100%', height='50')
                  .card-footer.small.text-muted Updated yesterday at 11:59 PM
              .col-md-5
                .panel
                  .panel-heading
                    h3.panel-title &#xD68C;&#xC758; &#xAC10;&#xC815; &#xC810;&#xC218;
                    h1  80&#xC810;
                  .panel-body
                    p 10&#xC810;
            // END 전체 감정 비율
            // 전체 발언 비율
            .row
              .col-md-6
                .panel
                  .card-header
                    i.fas.fa-chart-bar.mr-1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xD68C;&#xC758; &#xBC1C;&#xC5B8; &#xC21C;&#xC704;
                  .card-body
                    canvas#myBarChart(width='100%', height='50')
                  .card-footer.small.text-muted Updated yesterday at 11:59 PM
              .col-md-5
                .panel
                  .panel-heading
                    h3.panel-title &#xD68C;&#xC758; &#xBC1C;&#xC5B8; &#xC21C;&#xC704;
                  .panel-body
                    #demo-line-chart.ct-chart
            // END 전체 발언 비율
          // END 회의 전체 평가
          // 회의 개인 평가
          #sentimental_personal.tab-pane.fade
            // 개인 감정 비율
            .row
              .col-md-6
                .panel
                  .card-header
                    i.fas.fa-chart-pie.mr-1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xD68C;&#xC758; &#xAC10;&#xC815; &#xBE44;&#xC728;
                  .card-body
                    canvas#myPieChart2(width='100%', height='50')
                  .card-footer.small.text-muted Updated yesterday at 11:59 PM
              .col-md-5
                .panel
                  .panel-heading
                    h3.panel-title &#xD68C;&#xC758; &#xAC10;&#xC815; &#xC810;&#xC218;
                    h1  80&#xC810;
                  .panel-body
                    p 10&#xC810;
            // END 개인 감정 비율
            // 개인 발언 비율
            .row
              .col-md-6
                .panel
                  .card-header
                    i.fas.fa-chart-bar.mr-1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xD68C;&#xC758; &#xBC1C;&#xC5B8; &#xC21C;&#xC704;
                  .card-body
                    canvas#myBarChart2(width='100%', height='50')
                  .card-footer.small.text-muted Updated yesterday at 11:59 PM
              .col-md-5
                .panel
                  .panel-heading
                    h3.panel-title &#xD68C;&#xC758; &#xBC1C;&#xC5B8; &#xC21C;&#xC704;
                  .panel-body
                    #demo-line-chart.ct-chart
            // END 개인 발언 비율
          // END 회의 개인 평가
        // END 회의록,감정분석
      // 회의 평가
      //
        <div class="row">
        <div class="col-md-6">
        <div class="panel">
        <div class="card-header">
        <i class="fas fa-chart-pie mr-1"></i>
        회의 감정 비율
        </div>
        <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        </div>
        <div class="col-md-5">
        <div class="panel">
        <div class="panel-heading">
        <h3 class="panel-title">회의 감정 점수</h3>
        <h1> 80점 </h1>
        </div>
        <div class="panel-body">
        <p>10점</p>
        </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
        <div class="panel">
        <div class="card-header">
        <i class="fas fa-chart-bar mr-1"></i>
        회의 발언 순위
        </div>
        <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        </div>
        <div class="col-md-5">
        <div class="panel">
        <div class="panel-heading">
        <h3 class="panel-title">회의 발언 순위</h3>
        </div>
        <div class="panel-body">
        <div id="demo-line-chart" class="ct-chart"></div>
        </div>
        </div>
        </div>
        </div>
    // END MAIN
    .clearfix
    footer
      .container-fluid
        p.copyright
          | Shared by
          i.fa.fa-love
          a(href='https://bootstrapthemes.co') BootstrapThemes
  // END WRAPPER
  // Javascript
  script(src='assets/vendor/jquery/jquery.min.js')
  script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
  script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
  script(src='assets/vendor/chartist/js/chartist.min.js')
  script(src='assets/scripts/klorofil-common.js')
  // chart
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
  script(src='js/scripts.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
  script(src='assets/demo/chart-bar-demo.js')
  script(src='assets/demo/chart-pie-demo.js')
