doctype html
head
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  title Charts | Klorofil - Free Bootstrap Dashboard Template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet', href='assets/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/vendor/linearicons/style.css')
  link(rel='stylesheet', href='assets/vendor/chartist/css/chartist-custom.css')
  // MAIN CSS
  link(rel='stylesheet', href='assets/css/main.css')
  // FOR DEMO PURPOSES ONLY. You should remove this in your project
  link(rel='stylesheet', href='assets/css/demo.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
  link(rel='icon' type='image/png' sizes='96x96' href='assets/img/sodam.png')
  // d3.js
  script(src='http://d3js.org/d3.v3.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js', crossorigin='anonymous')
// WRAPPER
#wrapper
  // NAVBAR
  nav.navbar.navbar-default.navbar-fixed-top
    .brand
      a(href='/')
        img.img-responsive.logo(src='assets/img/logo.png', alt='Klorofil Logo')
    include gnb
  // END NAVBAR
  // LEFT SIDEBAR
  include lnb
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .panel.panel-profile
          .clearfix
            // LEFT COLUMN
            .sentimental-left
              // TABBED CONTENT
              .custom-tabs-line.tabs-line-bottom.left-aligned
                ul.nav.nav-pills(role='tablist')
                  li.active
                    a.savespk(href='#meeting_log' role='tab' data-toggle='tab') &#xD68C;&#xC758;&#xB85D;
                  li
                    a(href='#sentimental_total' role='tab' data-toggle='tab') &#xC804;&#xCCB4; &#xD3C9;&#xAC00;
                  li
                    a(href='#sentimental_personal' role='tab' data-toggle='tab') &#xAC1C;&#xC778; &#xD3C9;&#xAC00;
              .tab-content
                // 회의록
                #meeting_log.tab-pane.fade.in.active
                  .col-md-12
                    .row
                      .panel
                        #meeting_record
                          <audio controls src='#{file_path}'>
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xD45C;&#xC2DC;&#xC548;&#xB428;
                    .row
                      #panel-scrolling-demo.panel
                        .panel-heading
                          h3.panel-title &#xD68C;&#xC758; &#xB0B4;&#xC6A9;
                        #conference_log.panel-body
                          ul.list-unstyled
                            -for(var j=0; j<testdata.length;j++)
                              li
                                hr
                                h4.line(class=speakerlist[j]) #{speakerlist[j]}
                                p
                                  span.timestamp
                                  a#meetinglog_tab_desc_0(href='javascript:', onclick="mediaSeek('news_tab_audio', 0)")
                                    span#start_time  #{testdata[j].start_time}-
                                  span#end_time
                                  a#meetinglog_tab_desc_0(href='javascript:', onclick="mediaSeek('news_tab_audio', 0)")
                                    span  #{testdata[j].end_time}
                                p(style='font-size:17px')
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;#{testdata[j].result}
                        h4

                // END 회의록
                // 전체 감정 점수
                #sentimental_total.tab-pane.fade
                  .row
                    .col-md-6
                      .panel.score
                        .panel-heading
                          h4(align='center')
                            span.lnr.lnr-heart
                        .panel-body
                          p(align='center')
                            | 만족도 점수는<br>
                            b #{emotion_score}점(#{emotion_score_text})
                            |  입니다.
                          hr
                    .col-md-6
                      .panel.score
                        .panel-heading
                          h4(align='center')
                            span.lnr.lnr-user
                        .panel-body
                          p(align='center')
                            | 적극도 점수는<br>
                            b #{time_score}점(#{time_score_text})
                            |  입니다.
                          hr
                  // 전체 감정 비율
                  .row
                    .col-md-12
                      .panel
                        .panel-heading
                          input#total(type='hidden' value=total)
                          h4(align='center')  &lt; &#xD574;&#xB2F9; &#xD68C;&#xC758;&#xC5D0;&#xC11C; &#xBD84;&#xC11D;&#xB41C; 4&#xAC00;&#xC9C0; &#xAC10;&#xC815; &#xBE44;&#xC728; &gt;
                        .panel-body.group-canvas
                          canvas.canvas_item(id='화남' height='150' width='150')
                          canvas.canvas_item(id='무감정' height='150' width='150')
                          canvas.canvas_item(id='슬픔' height='150' width='150')
                          canvas.canvas_item(id='기쁨' height='150' width='150')
                        .panel-body
                          hr
                          p.contents
                            | &#xC774; &#xD68C;&#xC758;&#xC758; &#xB300;&#xD654;&#xC5D0;&#xC11C;&#xC758; &#xAC10;&#xC815;&#xC744; &#xD654;&#xB0A8;, &#xBB34;&#xAC10;&#xC815;, &#xC2AC;&#xD514;, &#xAE30;&#xC068; &#xC758; &#xCD1D; 4&#xAC00;&#xC9C0; &#xAC10;&#xC815;&#xC73C;&#xB85C; &#xBD84;&#xC11D;&#xD558;&#xC600;&#xC744; &#xB54C;, &#xD574;&#xB2F9; 
                            | &#xD68C;&#xC758;&#xB294; 
                            b &#xD654;&#xB0A8; #{total_emotion[0]}%
                            | , 
                            b &#xBB34;&#xAC10;&#xC815; #{total_emotion[1]}%
                            | , 
                            b &#xC2AC;&#xD514; #{total_emotion[2]}%
                            | , 
                            b &#xAE30;&#xC068; #{total_emotion[3]}%
                            |  &#xC758; &#xBE44;&#xC728;&#xB85C; &#xBD84;&#xC11D;&#xB429;&#xB2C8;&#xB2E4;. 
                            br
                            br
                            | &#xC774;&#xB97C; &#xBC14;&#xD0D5;&#xC73C;&#xB85C; &#xACC4;&#xC0B0;&#xD574; &#xBCF4;&#xC558;&#xC744; &#xB54C;, &#xD574;&#xB2F9; &#xD68C;&#xC758;&#xC758; &#xC804;&#xCCB4; &#xB9CC;&#xC871;&#xB3C4;&#xB294; 
                            b #{emotion_score}&#xC810;
                            | &#xC785;&#xB2C8;&#xB2E4;.
                          hr
                        //
                          <div class="panel-body">
                          <div class="col-md-6">
                          <canvas id="myPieChart0"  width="100%" height="50"></canvas>
                          </div>
                          <div class="col-md-6">
                          <canvas id="myBarChart_senti"  width="100%" height="50"></canvas>
                          </div>
                          </div>
                  // END 전체 감정 비율
                  // 전체 발언 비율
                  .row
                    .col-md-12
                      .panel
                        .panel-heading
                          h4(align='center')  &lt; &#xD574;&#xB2F9; &#xD68C;&#xC758;&#xC5D0;&#xC11C; &#xBD84;&#xC11D;&#xB41C; &#xCC38;&#xC5EC;&#xC790; &#xBC1C;&#xC5B8; &#xC810;&#xC218; &gt;
                        .panel-body
                          input#memberdata1(type="hidden" value=speakerdata[0])
                          input#memberdata2(type="hidden" value=speakerdata[1])
                          input#memberdata3(type="hidden" value=speakerdata[2])
                          input#memberdata4(type="hidden" value=speakerdata[3])
                          input#timedata1(type="hidden" value=timedata[0])
                          input#timedata2(type="hidden" value=timedata[1])
                          input#timedata3(type="hidden" value=timedata[2])
                          input#timedata4(type="hidden" value=timedata[3])
                          canvas#myBarChart(width='100%' height='40')
                        .panel-body
                          hr
                          p.contents
                            | &#xC774; &#xD68C;&#xC758;&#xC758; &#xCD1D; &#xD68C;&#xC758; &#xC2DC;&#xAC04;&#xC740; &#xCD08; &#xB2E8;&#xC704; &#xAE30;&#xC900;&#xC73C;&#xB85C; &#xBCFC; &#xB54C;, 
                            b #{total_time}&#xCD08;
                            |  &#xC785;&#xB2C8;&#xB2E4;.
                            |  &#xD574;&#xB2F9; &#xD68C;&#xC758;&#xC758; &#xCC38;&#xC5EC;&#xC790; &#xC801;&#xADF9;&#xB3C4; &#xC801;&#xADF9;&#xB3C4;&#xB97C; &#xBD84;&#xC11D;&#xC744; &#xC704;&#xD574; &#xCC38;&#xC5EC;&#xC790;&#xB4E4;&#xC758; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;&#xC744; &#xACC4;&#xC0B0;&#xD574; &#xBCF4;&#xC558;&#xC744; &#xB54C;
                            
                            -for(var j=0; j<speakerdata.length;j++)
                              | ,#{speakerdata[j]}&#xB294; 
                              b #{timedata[j]}&#xCD08;
                            | &#xC73C;&#xB85C; &#xBD84;&#xC11D;&#xB429;&#xB2C8;&#xB2E4;. 
                            br
                            br
                            | &#xC774;&#xB97C; &#xBC14;&#xD0D5;&#xC73C;&#xB85C; &#xC801;&#xADF9;&#xB3C4;&#xB97C; &#xACC4;&#xC0B0;&#xD574; &#xBCF4;&#xC558;&#xC744; &#xB54C;, &#xD574;&#xB2F9; &#xD68C;&#xC758;&#xC758; &#xC801;&#xADF9;&#xB3C4; &#xC810;&#xC218;&#xB294; 
                            b #{time_score}&#xC810;
                            | &#xC785;&#xB2C8;&#xB2E4;.

                  // END 전체 발언 비율
                // END 전체 감정 점수
                // 회의 개인 평가
                #sentimental_personal.tab-pane.fade
                  // TABBED CONTENT
                  .custom-tabs-line.tabs-line-bottom.center-aligned
                    ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                      -for(var i=0;i<spk_num;i++)
                        li.nav-item
                          a(class=speakerdata[i] data-toggle='pill' href='#user'+(i+1) role='tab' aria-controls=speakerdata[i] aria-selected='true') #{speakerdata[i]}
                  // 참석자 만족도 분석
                  #personal-Content.tab-content
                    // 참석자1 만족도 분석
                    #user1.tab-pane.fade(role='tabpanel' aria-labelledby='pills-참여자A-tab')
                      .row
                        .col-md-12
                          .panel
                            input#member1(type='hidden' value=emotion[0])
                            .card-title
                              h4(align='center')  #{speakerdata[0]}  &#xC758; &#xAC10;&#xC815; &#xBD84;&#xC11D; &#xACB0;&#xACFC;
                            .panel-body
                              canvas.canvas_item(id='화남A' height='150' width='150')
                              canvas.canvas_item(id='무감정A' height='150' width='150')
                              canvas.canvas_item(id='슬픔A' height='150' width='150')
                              canvas.canvas_item(id='기쁨A' height='150' width='150')
                            .panel-body
                              hr
                              p.contents
                                | &#xC774; &#xD68C;&#xC758;&#xC758; &#xB300;&#xD654;&#xC5D0;&#xC11C;&#xC758; &#xAC10;&#xC815;&#xC744; &#xD654;&#xB0A8;, &#xBB34;&#xAC10;&#xC815;, &#xC2AC;&#xD514;, &#xAE30;&#xC068; &#xC758; &#xCD1D; 4&#xAC00;&#xC9C0; &#xAC10;&#xC815;&#xC73C;&#xB85C; &#xBD84;&#xC11D;&#xD558;&#xC600;&#xC744; &#xB54C;, &#xD574;&#xB2F9; 
                                | &#xD68C;&#xC758;&#xB294; 
                                b &#xD654;&#xB0A8; #{personal_emotion[0][0]}%
                                | , 
                                b &#xBB34;&#xAC10;&#xC815; #{personal_emotion[0][1]}%
                                | , 
                                b &#xC2AC;&#xD514; #{personal_emotion[0][2]}%
                                | , 
                                b &#xAE30;&#xC068; #{personal_emotion[0][3]}%
                                |  &#xC758; &#xBE44;&#xC728;&#xB85C; &#xBD84;&#xC11D;&#xB429;&#xB2C8;&#xB2E4;.

                              hr
                              .row
                                .col-md-12
                                  .panel
                                    .panel-heading
                                      h4(align='center')  #{speakerdata[0]}&#xC758; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04; &#xBD84;&#xC11D;
                                    .panel-body
                                      canvas#myBarChart1(width='100%' height='40')
                                    .panel-body
                                      hr
                                      p.contents
                                        | &#xC774; &#xD68C;&#xC758;&#xC758; &#xCD1D; &#xD68C;&#xC758; &#xC2DC;&#xAC04;&#xC740; &#xCD08; &#xB2E8;&#xC704; &#xAE30;&#xC900;&#xC73C;&#xB85C; &#xBCFC; &#xB54C;, 
                                        b #{total_time}&#xCD08;
                                        |  &#xC785;&#xB2C8;&#xB2E4;.
                                        |  &#xCC38;&#xC5EC;&#xC790; #{speakerdata[0]}&#xC758; &#xCD1D; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;&#xC740; 
                                        b #{timedata[0]}&#xCD08;
                                        | , &#xD68C;&#xC758; &#xD3C9;&#xADE0; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;은 
                                        b #{avg_time}&#xCD08;
                                        |  &#xC785;&#xB2C8;&#xB2E4;.

                    // END 참석자1 만족도 분석
                    // 참석자2 만족도 분석
                    -if(personal_emotion[1])
                      #user2.tab-pane.fade(role='tabpanel' aria-labelledby='pills-참여자B-tab')
                        .row
                          .col-md-12
                            .panel
                              input#member2(type='hidden' value=emotion[1])
                              .card-title
                                h4(align='center')  #{speakerdata[1]}&#xC758; &#xAC10;&#xC815; &#xBD84;&#xC11D; &#xACB0;&#xACFC;
                              .panel-body
                                canvas.canvas_item(id='화남B' height='150' width='150')
                                canvas.canvas_item(id='무감정B' height='150' width='150')
                                canvas.canvas_item(id='슬픔B' height='150' width='150')
                                canvas.canvas_item(id='기쁨B' height='150' width='150')
                              .panel-body
                                hr
                                p.contents
                                  | &#xC774; &#xD68C;&#xC758;&#xC758; &#xB300;&#xD654;&#xC5D0;&#xC11C;&#xC758; &#xAC10;&#xC815;&#xC744; &#xD654;&#xB0A8;, &#xBB34;&#xAC10;&#xC815;, &#xC2AC;&#xD514;, &#xAE30;&#xC068; &#xC758; &#xCD1D; 4&#xAC00;&#xC9C0; &#xAC10;&#xC815;&#xC73C;&#xB85C; &#xBD84;&#xC11D;&#xD558;&#xC600;&#xC744; &#xB54C;, &#xD574;&#xB2F9; 
                                  | &#xD68C;&#xC758;&#xB294; 
                                  b &#xD654;&#xB0A8; #{personal_emotion[1][0]}%
                                  | , 
                                  b &#xBB34;&#xAC10;&#xC815; #{personal_emotion[1][1]}%
                                  | , 
                                  b &#xC2AC;&#xD514; #{personal_emotion[1][2]}%
                                  | , 
                                  b &#xAE30;&#xC068; #{personal_emotion[1][3]}%
                                  |  &#xC758; &#xBE44;&#xC728;&#xB85C; &#xBD84;&#xC11D;&#xB429;&#xB2C8;&#xB2E4;.

                                hr
                                .row
                                  .col-md-12
                                    .panel
                                      .panel-heading
                                        h4(align='center') #{speakerdata[1]}&#xC758; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04; &#xBD84;&#xC11D;
                                      .panel-body
                                        canvas#myBarChart2(width='100%' height='40')
                                      .panel-body
                                        hr
                                        p.contents
                                          | &#xC774; &#xD68C;&#xC758;&#xC758; &#xCD1D; &#xD68C;&#xC758; &#xC2DC;&#xAC04;&#xC740; &#xCD08; &#xB2E8;&#xC704; &#xAE30;&#xC900;&#xC73C;&#xB85C; &#xBCFC; &#xB54C;, 
                                          b #{total_time}&#xCD08;
                                          |  &#xC785;&#xB2C8;&#xB2E4;.
                                          |  &#xCC38;&#xC5EC;&#xC790; #{speakerdata[1]}&#xC758; &#xCD1D; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;&#xC740; 
                                          b #{timedata[1]}&#xCD08;
                                          | , &#xD68C;&#xC758; &#xD3C9;&#xADE0; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;은 
                                          b #{avg_time}&#xCD08;
                                          |  &#xC785;&#xB2C8;&#xB2E4;.
                    // END 참석자2 만족도 분석
                    // 참석자3 만족도 분석
                    -if(personal_emotion[2])
                      #user3.tab-pane.fade(role='tabpanel' aria-labelledby='pills-참여자C-tab')
                        .row
                          .col-md-12
                            .panel
                              input#member3(type='hidden' value=emotion[2])
                              .card-title
                                h4(align='center')  #{speakerdata[2]}&#xC758; &#xAC10;&#xC815; &#xBD84;&#xC11D; &#xACB0;&#xACFC;
                              .panel-bodyc
                                canvas.canvas_item(id='화남C' height='150' width='150')
                                canvas.canvas_item(id='무감정C' height='150' width='150')
                                canvas.canvas_item(id='슬픔C' height='150' width='150')
                                canvas.canvas_item(id='기쁨C' height='150' width='150')
                              .panel-body
                                hr
                                p.contents
                                  | &#xC774; &#xD68C;&#xC758;&#xC758; &#xB300;&#xD654;&#xC5D0;&#xC11C;&#xC758; &#xAC10;&#xC815;&#xC744; &#xD654;&#xB0A8;, &#xBB34;&#xAC10;&#xC815;, &#xC2AC;&#xD514;, &#xAE30;&#xC068; &#xC758; &#xCD1D; 4&#xAC00;&#xC9C0; &#xAC10;&#xC815;&#xC73C;&#xB85C; &#xBD84;&#xC11D;&#xD558;&#xC600;&#xC744; &#xB54C;, &#xD574;&#xB2F9; 
                                  | &#xD68C;&#xC758;&#xB294; 
                                  b &#xD654;&#xB0A8; #{personal_emotion[2][0]}%
                                  | , 
                                  b &#xBB34;&#xAC10;&#xC815; #{personal_emotion[2][1]}%
                                  | , 
                                  b &#xC2AC;&#xD514; #{personal_emotion[2][2]}%
                                  | , 
                                  b &#xAE30;&#xC068; #{personal_emotion[2][3]}%
                                  |  &#xC758; &#xBE44;&#xC728;&#xB85C; &#xBD84;&#xC11D;&#xB429;&#xB2C8;&#xB2E4;.

                                hr
                                .row
                                  .col-md-12
                                    .panel
                                      .panel-heading
                                        h4(align='center') #{speakerdata[2]}&#xC758; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04; &#xBD84;&#xC11D;
                                      .panel-body
                                        canvas#myBarChart3(width='100%' height='40')
                                      .panel-body
                                        hr
                                        p.contents
                                          | &#xC774; &#xD68C;&#xC758;&#xC758; &#xCD1D; &#xD68C;&#xC758; &#xC2DC;&#xAC04;&#xC740; &#xCD08; &#xB2E8;&#xC704; &#xAE30;&#xC900;&#xC73C;&#xB85C; &#xBCFC; &#xB54C;, 
                                          b #{total_time}&#xCD08;
                                          |  &#xC785;&#xB2C8;&#xB2E4;.
                                          |  &#xCC38;&#xC5EC;&#xC790; #{speakerdata[2]}&#xC758; &#xCD1D; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;&#xC740; 
                                          b #{timedata[2]}&#xCD08;
                                          | , &#xD68C;&#xC758; &#xD3C9;&#xADE0; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;은 
                                          b #{avg_time}&#xCD08;
                                          |  &#xC785;&#xB2C8;&#xB2E4;.
                    // END 참석자3 만족도 분석
                    // 참석자4 만족도 분석
                    -if(personal_emotion[3])
                      #user4.tab-pane.fade(role='tabpanel' aria-labelledby='pills-참여자D-tab')
                        .row
                          .col-md-12
                            .panel
                              input#member4(type='hidden' value=emotion[3])
                              .card-title
                                h4(align='center')  #{speakerdata[3]}&#xC758; &#xAC10;&#xC815; &#xBD84;&#xC11D; &#xACB0;&#xACFC;
                              .panel-body
                                canvas.canvas_item(id='화남D' height='150' width='150')
                                canvas.canvas_item(id='무감정D' height='150' width='150')
                                canvas.canvas_item(id='슬픔D' height='150' width='150')
                                canvas.canvas_item(id='기쁨D' height='150' width='150')
                              .panel-body
                                hr
                                p.contents
                                  | &#xC774; &#xD68C;&#xC758;&#xC758; &#xB300;&#xD654;&#xC5D0;&#xC11C;&#xC758; &#xAC10;&#xC815;&#xC744; &#xD654;&#xB0A8;, &#xBB34;&#xAC10;&#xC815;, &#xC2AC;&#xD514;, &#xAE30;&#xC068; &#xC758; &#xCD1D; 4&#xAC00;&#xC9C0; &#xAC10;&#xC815;&#xC73C;&#xB85C; &#xBD84;&#xC11D;&#xD558;&#xC600;&#xC744; &#xB54C;, &#xD574;&#xB2F9; 
                                  | &#xD68C;&#xC758;&#xB294; 
                                  b &#xD654;&#xB0A8; #{personal_emotion[3][0]}%
                                  | , 
                                  b &#xBB34;&#xAC10;&#xC815; #{personal_emotion[3][1]}%
                                  | , 
                                  b &#xC2AC;&#xD514; #{personal_emotion[3][2]}%
                                  | , 
                                  b &#xAE30;&#xC068; #{personal_emotion[3][3]}%
                                  |  &#xC758; &#xBE44;&#xC728;&#xB85C; &#xBD84;&#xC11D;&#xB429;&#xB2C8;&#xB2E4;.

                                hr
                                .row
                                  .col-md-12
                                    .panel
                                      .panel-heading
                                        h4(align='center') #{speakerdata[3]}&#xC758; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04; &#xBD84;&#xC11D;
                                      .panel-body
                                        canvas#myBarChart4(width='100%' height='40')
                                      .panel-body
                                        hr
                                        p.contents
                                          | &#xC774; &#xD68C;&#xC758;&#xC758; &#xCD1D; &#xD68C;&#xC758; &#xC2DC;&#xAC04;&#xC740; &#xCD08; &#xB2E8;&#xC704; &#xAE30;&#xC900;&#xC73C;&#xB85C; &#xBCFC; &#xB54C;, 
                                          b #{total_time}&#xCD08;
                                          |  &#xC785;&#xB2C8;&#xB2E4;.
                                          |  &#xCC38;&#xC5EC;&#xC790; #{speakerdata[3]}&#xC758; &#xCD1D; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;&#xC740; 
                                          b #{timedata[3]}&#xCD08;
                                          | , &#xD68C;&#xC758; &#xD3C9;&#xADE0; &#xBC1C;&#xC5B8; &#xC2DC;&#xAC04;은 
                                          b #{avg_time}&#xCD08;
                                          |  &#xC785;&#xB2C8;&#xB2E4;.
                    // END 참석자4 만족도 분석
                  // END 참석자 만족도 분석
                // END 회의 개인 평가
              // END TABBED CONTENT
            // END LEFT COLUMN
            br
            br
            // RIGHT COLUMN
            .sentimental-right
              // LABELS
              .profile-detail
                a.navbar-btn-right(href='#')
                  i.lnr.lnr-cog
                .profile-info
                  h4.heading &#xD68C;&#xC758; Info
                  p #{text_title}
                .profile-info
                  h4.heading &#xCC38;&#xC5EC;&#xC790;
                  ul.list-inline.social-icons
                    -for(var j = 0; j < spk_num ; j++)
                      li
                        //- span.input.label-info(contenteditable='true' id=speakerdata[j] value=speakerdata[j])  #{speakerdata[j]}
                        .input-group
                          span.input-group-addon
                            i.fa.fa-user
                          input.form-control(id=speakerdata[j] value = speakerdata[j])

                .profile-info
                  h4.heading &#xD0DC;&#xADF8;
                  ul.list-unstyled.list-justify
                    if hashdata.meet_hashtag1 != null && hashdata.meet_hashtag1 != ''
                      li
                        p.tagbox  #{'#'+hashdata.meet_hashtag1}
                    if hashdata.meet_hashtag2 != null && hashdata.meet_hashtag2 != ''
                      li
                        p.tagbox  #{'#'+hashdata.meet_hashtag2}
                    if hashdata.meet_hashtag3 != null && hashdata.meet_hashtag3 != ''
                      li
                        p.tagbox  #{'#'+hashdata.meet_hashtag3}
            // END RIGHT COLUMN
    // END MAIN CONTENT
  // END MAIN
    .clearfix
    footer
      .container-fluid
        p.copyright
          | Shared by
          i.fa.fa-love
          a(href='https://bootstrapthemes.co') BootstrapThemes
  // END WRAPPER
  // Javascript
  script(src='assets/vendor/jquery/jquery.min.js')
  script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
  script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
  script(src='assets/vendor/chartist/js/chartist.min.js')
  script(src='assets/scripts/klorofil-common.js')
  // chart
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
  script(src='js/scripts.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
  script(src='assets/demo/chart-bar-demo.js')
  script(src='assets/demo/chart-percent-demo.js')

script.
    var i = 0;
    var spk = document.getElementsByClassName('form-control');
    var title = '#{text_title}'
    while(spk[i] != null) {
      spk[i].addEventListener('blur', function() {
        var labels = document.getElementsByClassName(this.id);
        var j=0;
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/sentimental_total/real-time");
        var old_spk = document.createElement("input");
        old_spk.setAttribute("type", "hidden");
        old_spk.setAttribute("name", "old_spk");
        old_spk.setAttribute("value", this.id);
        form.appendChild(old_spk);
        var new_spk = document.createElement("input");
        new_spk.setAttribute("type", "hidden");
        new_spk.setAttribute("name", "new_spk");
        new_spk.setAttribute("value", this.value)
        form.appendChild(new_spk);
        var meet_title = document.createElement("input");
        meet_title.setAttribute("type", "hidden");
        meet_title.setAttribute("name", "meet_title");
        meet_title.setAttribute("value", '#{text_title}');
        form.appendChild(meet_title);

        document.body.appendChild(form)

        form.submit();
        while(labels[j] != null) {
          labels[j].innerHTML = this.value;
          labels[j].class = this.value;
          j += 1;
        }


      });

      i+=1;
    }
script.
  $('.savespk').click((e)=>{
    window.location.reload();
  });
